{% extends 'site/base.html' %}
{% load static %}
{% block conteudo %}
<div class="descricao">
    <h1>Bem-vindo à Padaria Brasília!</h1>
    <h2>Agora sob a nova direção, buscamos trazer ainda mais frescor e sabor para a sua vida. Há mais de uma década, a Padaria Brasília tem sido um ponto de encontro para a comunidade, oferecendo pães frescos, bolos deliciosos e uma variedade de produtos que encantam nossos clientes diariamente.</h2>
</div>


<div class="botao1">
    <a href="login/" class="botao_login">Login</a>
</div>
<div class="botao2">
    <a href="cadastre-se/" class="botao_cadastre-se">Cadastre-se</a>
</div>


<div class="produtos">
    
</div>

{% endblock %}